[submodule "Extern/SFML_EditorWidget"]
	path = Extern/SFML_EditorWidget
	url = https://github.com/KROIA/SFML_EditorWidget
[submodule "Extern/Neuronal-net-2"]
	path = Extern/Neuronal-net-2
	url = https://github.com/KROIA/Neuronal-net-2
